#js-welcome-message{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    display: block;
}

#js-search-input{
    margin: auto;
    width: 50%;
    padding: 10px;
    display: block;
}

#cardContainer:focus{
    outline: 2px solid blue;
  }